html, body, header, article, footer{
    width: 100%;
    min-width: 800px;
    font-family: "微软雅黑", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header{
    border-bottom: #434752 2px solid;
}
header .navbar-brand{
    font-size: 30px;
}
header .navbar .collapse{
    padding-left: 70px;
    font-size: 20px;
}
header .dropdown-item:hover{
    background: #cecece;
}
article{
}
article h1{
    color: #003875;
    padding: 30px 0 20px 50px;
    font-size: 25px;
}
article #article{
    height: 1200px;
    width: 90%;
    margin: 3px 5%;
    border: #9fcdff 1px solid;
    border-radius: 10px;
}
footer{
    padding:50px 0 0 0;
    color:#A9A9A9;
    background:rgba(67,71,82,1);
    position: relative;overflow: hidden;
}footer h5{
    color:#eee;
}