#type{
    display: flex;
    flex-wrap: wrap;
}
.form-group h4, .form-group>label{
    color: #003875;
    padding: 5px 0;
    font-size: 20px;
}
.form-group .radio{
    padding: 8px 10px 0 0;
}
#detail{
    min-height: 500px;
}

#warning{
    position: fixed;
    top: 300px;
    left: 40%;
    height: 220px;
    width: 20%;
    border: #5a6268 2px solid;
    border-radius: 15px;
    background: #dadada;
    color: #000000;
    text-align: center;
    padding-top: 80px;
}
#warning p{
    font-size: 20px;
}