html, body, .container{
    width: 100%;
    height: 100%;
}

/* index.html */
#indexPage{
    width: 100%;
    height: 100%;
    background: #0c5460;
}
#indexPage #indexRow{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    text-align: center;
}

/* login.html */
#loginPage{
    width: 100%;
    height: 100%;
    background: #0c5460;
}
#loginPage #loginRow{
    width: 100%;
    height: 100%;
}
#loginPage #divForm{
    min-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255,255,255,0.7);

}
#loginPage .btn{
    width: 80px;
}

/* register.html */
#registerPage{
    width: 100%;
    height: 100%;
    background: #0c5460;
}
#registerPage #registerRow{
    width: 100%;
    height: 100%;
}
#registerPage #divForm{
    min-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255,255,255,0.7);

}
#register .btn{
    width: 80px;
}

/* error.html */
#errorMsg{
    border: red solid 3px;
    background: #ffffff;
}

/* regSucceed.html */
#regSucceedPage{
    width: 100%;
    height: 100%;
    background: #0c5460;
}
#regSucceedPage #regSucceedRow{
    width: 100%;
    height: 100%;
}
#regSucceedPage #regSucceedForm{
    text-align: center;
}
#regSucceedPage #regSucceedBtn{
    margin-top: 30px;
}