#editFrame{
    display: none;
}

#questDiv {
    width: 100%;
    padding: 50px 300px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
#questDiv div{
    width: 200px;
    height: 130px;
    margin: 20px;
    border-radius: 20px;
    background: #9fcdff;
    box-shadow: 5px 5px 12px #5f8dbf;
    display: flex;
    justify-content:center;
    flex-flow: column;
    transition: transform 0.5s;
    cursor: pointer;
}
#questDiv div:hover{
    transform: translateY(-5px);
}
#questDiv h1{
    padding: 0;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 25px;
}
