<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
    <div class="container">
        <div id="templateNow" style="display: none">{{ detail.template_now.id }}:{{ detail.template_now.name }}</div>
        <div class="chooseTemplate" style="border-bottom:#007bff 1px solid;display: none">
            <label style="color: #003875;padding: 5px 0;font-size: 20px;">使用模板：</label>
            <select class="form-control" id="chooseTemplate">
                <option>0</option>
                {% for t in detail.templates %}
                <option>{{ t.id }}:{{ t.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" onclick="useTemplate()" style="margin: 10px">使用模板</button>
        </div>
        <form class="form-horizontal" onsubmit="return checkSubmit()" method="post" id="formS">
            {% csrf_token %}
            <div class="form-group"  id="type">
                <h4> 文档类型： <span id="doc_type" style="display: none">{{ detail.type }}</span></h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="optionsRadios1" value="contract" disabled>
                        合同
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="optionsRadios2" value="contract_t" disabled>
                        合同模板
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="optionsRadios3" value="letter" disabled>
                        律师函
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="optionsRadios4" value="trans" disabled>
                        翻译申请
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" id="optionsRadios5" value="power" disabled>
                        授权申请
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="name">名称:</label>
                <input type="text" class="form-control"  name="name" id="name" value="{{ detail.title }}">
            </div>
            <div class="form-group">
                <label for="detail">正文:</label>
                <textarea type="text" class="form-control"  name="detail" id="detail">
                    {{ detail.content }}
                </textarea>
            </div>
            <div class="form-group">
                <label for="tillTime">到期时间:</label>
                <input type="date" name="tillTime" id="tillTime" style="width: 400px;border:#007bff 2px solid;border-radius: 3px" value='{{ detail.tillTime|date:"Y-m-d" }}'>
            </div>
            <button type="button" value="pass" class="btn btn-primary" onclick="submitForm()">
                确认并提交
            </button>
        </form>
    </div>
<div id="warning" style="display: none">
    <p><strong>所有项目都必须被填写！</strong></p>
    <button class="btn btn-dark" onclick="$('#warning').css('display','none');">OK</button>
</div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(function(){
        switch ($("#doc_type").html()){
            case 'contract':
                $("#optionsRadios1").prop({'checked':true,"disabled":false});

                temNow = $('#templateNow').html();
                console.log(temNow);
                if(temNow != ":"){
                    $('#chooseTemplate').val(temNow);
                }
                $('.chooseTemplate').css('display', 'block');
            break;
            case 'contract_t': $("#optionsRadios2").prop({'checked':true,"disabled":false}); break;
            case 'letter': $("#optionsRadios3").prop({'checked':true,"disabled":false}); break;
            case 'trans': $("#optionsRadios4").prop({'checked':true,"disabled":false}); break;
            case 'power': $("#optionsRadios5").prop({'checked':true,"disabled":false}); break;
        }
    });
    function checkSubmit() {
        if($('#name').val() == "" || $('#detail').val() == "" || $('#tillTime').val() == ""){
            $('#warning').css('display','block');
            return false;
        }
        return true;
    }
    function submitForm() {
        $('#formS').action = '/create/' + $("#doc_type").html();
        $('#formS').submit();
        parent.location.reload();
    }
    function useTemplate() {
        if($('#chooseTemplate').val() != 0){
            console.log($('#chooseTemplate').val().split(':')[0]);
            window.location.href = "/create/1/" + $('#chooseTemplate').val().split(':')[0];
        }
    }
    document.getElementsByClassName('chooseTemplate')[1].style.display='block';
</script>
</html>