<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
    <div class="container">
        <form class="form-horizontal" id="formS">
            <div class="form-group">
                <label>文件id：<span id="docID">{{ detail.id }}</span></label>
            </div>
            <div class="form-group" id="type">
                <h4> 文档类型： <span id="doc_type" style="display: none">{{ detail.type }}</span></h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="contract" disabled>
                        合同
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="contract_t" disabled>
                        合同模板
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="letter" disabled>
                        律师函
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="trans" disabled>
                        翻译申请
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="power" disabled>
                        授权申请
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="name">名称:</label>
                <input type="text" class="form-control"  name="name" id="name" value="{{ detail.name }}" disabled>
            </div>
            <div class="form-group">
                <label for="detail">正文:</label>
                <textarea type="text" class="form-control"  name="detail" id="detail" disabled>
                    {{ detail.detail }}
                </textarea>
            </div>
            <div class="form-group">
                <label for="tillTime">到期时间:</label>
                <input type="date" name="tillTime" id="tillTime" style="width: 400px;border:#007bff 2px solid;border-radius: 3px" value='{{ detail.till_time|date:"Y-m-d"}}' disabled>
            </div>
            <button type="button" value="pass" class="btn btn-primary" onclick="submit_pass()">
                审核通过
            </button>
            <button type="button" value="notpass" class="btn btn-danger" onclick="submit_notpass()">
                不通过
            </button>
        </form>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(function(){
        switch ($("#doc_type").html()){
            case 'contract': $("#optionsRadios1").prop('checked',true); break;
            case 'contract_t': $("#optionsRadios2").prop('checked',true); break;
            case 'letter': $("#optionsRadios3").prop('checked',true); break;
            case 'trans': $("#optionsRadios4").prop('checked',true); break;
            case 'power': $("#optionsRadios5").prop('checked',true); break;
        }
    });
    function submit_pass() {
        $('#formS').attr('action',$('#docID').html() + '/pass');
        $('#formS').submit();
    }
    function submit_notpass() {
        $('#formS').attr('action',$('#docID').html() + '/notpass');
        $('#formS').submit();
    }
</script>
</html>