<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" rel="styleSheet" href="/static/css/Style.css">
    <link type="text/css" rel="styleSheet" href="/static/css/bootstrap.css">
    <script src="/static/js/Script.js"></script>
</head>
<body>
<div id="indexPage">
    <div class="container">
        <div class="row align-items-center justify-content-center" id="indexRow">
            <div>
                <h1>Welcome！ {{ email }}</h1>
                <p>You Registered at{{ created_at }}</p>
            </div>
            <div>
                <button class="btn btn-primary" onclick="toLogout()">Log out!</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>