<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="styleSheet" href="/static/css/Style.css">
    <link type="text/css" rel="styleSheet" href="/static/css/bootstrap.css">
    <script src="/static/js/Script.js"></script>
</head>
<body>
<div id="loginPage">
    <div class="container">
        <div class="row align-items-center justify-content-center" id="loginRow">
            <div class="col-6" id="divForm">
                <div id="error">
                    {% block error %}
                    {% endblock error %}
                </div>
                <form action="/login" method="post" onsubmit="submitLoginBefore()">
                    <h4>Enter your Email and Password to Login</h4>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" name="email" id="emailInput" placeholder="e.g. qwe@qwe.com">
                    </div>
                    <div class="form-group">
                        <label for="psdInput">Password</label>
                        <input type="password" class="form-control" name="password" id="psdInput" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn" onclick="toRegister()">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>