<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/manager.css">
</head>
<body>
<header>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">合同管理系统</a>
        <span class="nav-link" href="#">Welcome Manager:{{ user.email }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        人员管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item" onclick="showTable('leader')">干部信息查看</button>
                        <button class="dropdown-item" onclick="showTable('worker')">员工信息查看</button>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        文件管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item" onclick="showTable('contractTemplate')">合同模板</button>
                            <button class="dropdown-item" onclick="showTable('contract')">合同</button>
                        <div class="dropdown-divider"></div>
                            <button class="dropdown-item" onclick="showTable('letter')">律师函</button>
                            <button class="dropdown-item" onclick="showTable('trans')">翻译申请</button>
                            <button class="dropdown-item" onclick="showTable('power')">授权申请</button>
                    </div>
                </li>


            </ul>
            <button class="btn btn-danger" id="tip" type="button" onclick="showTable('tillDoc')">
                将要到期的文件： <span class="badge badge-light">{{ tillDocNum }}</span>
            </button>
            <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location.href = 'logout'">Sign out</button>
        </div>
    </div>
</header>
<article>
    <h1 id="tableHead">合同信息：</h1>
    <iframe id="article" src="tableContract">
    </iframe>
</article>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="widget">
                    <h5 class="widgetheading">合同管理系统</h5>
                    <h5 class="widgetheading">By：Group 7</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="widget">
                    <h5 class="widgetheading">Members</h5>
                    <p>时博文</p>
                    <p>顾堃略</p>
                    <p>谢玉婷</p>
                    <p>雍卓睿</p>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" style="background:rgba(34,43,58,1);height: 50px;text-align: center;">
    </div>
</footer>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function showTable(text) {
        switch (text){
            case "contractTemplate":
                $("#tableHead").html("合同模板信息：");
                $("#article").attr("src", "tableContractTemplate");
                break;
            case "contract":
                $("#tableHead").html("合同信息：");
                $("#article").attr("src", "tableContract");
                break;
            case "letter":
                $("#tableHead").html("律师函信息：");
                $("#article").attr("src", "tableLetter");
                break;
            case "trans":
                $("#tableHead").html("翻译申请信息：");
                $("#article").attr("src", "tableTrans");
                break;
            case "power":
                $("#tableHead").html("授权申请信息：");
                $("#article").attr("src", "tablePower");
                break;
            case "leader":
                $("#tableHead").html("干部信息：");
                $("#article").attr("src", "tableLeader");
                break;
            case "worker":
                $("#tableHead").html("员工信息：");
                $("#article").attr("src", "tableWorker");
                break;
            case "tillDoc":
                $("#tableHead").html("将要到期的文件：");
                $("#article").attr("src", "tableTill");
                break;
            default:
                console.log(text);
        }
    }
</script>
</html>