<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link type="text/css" rel="styleSheet" href="/static/css/Style.css">
    <link type="text/css" rel="styleSheet" href="/static/css/bootstrap.css">
    <script src="/static/js/Script.js"></script>
</head>
<body>
<div id="registerPage">
    <div class="container">
        <div class="row align-items-center justify-content-center" id="registerRow">
            <div class="col-6" id="divForm">
                <div id="error">
                    {% block error %}
                    {% endblock error %}
                </div>
                <form action="/register" method="post"  onsubmit="return submitRegBefore()">
                    <h4>Enter your Email and Password *TWICE* to Register</h4>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control needs-validation" name="email" id="emailInput" placeholder="e.g. qwe@qwe.com">
                    </div>
                    <div class="form-group">
                        <label for="psdInput">Password</label>
                        <input type="password" class="form-control" name="password" id="psdInput" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="psdInput2">Enter Again:</label>
                        <input type="password" class="form-control" name="password2" id="psdInput2" placeholder="Again">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="button" class="btn" onclick="toLogin()">Go to Login Page</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>