<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tablePage.css">
    <style>
    </style>
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">人员id</th>
            <th scope="col">账号</th>
            <th scope="col">密码(SHA256)</th>
            <th scope="col">创建时间</th>
        </tr>
        </thead>
        <tbody>
        {% for leader in leaders %}
        <tr>
            <th scope="row" class="leaderID" id="{{leader.id}}">{{ leader.id }}</th>
            <td>{{ leader.email }}</td>
            <td>{{ leader.password }}</td>
            <td>{{ leader.created_at }}</td>
        </tr>
        {% empty %}
        <tr><th>No Leader</th></tr>
        {% endfor%}
        </tbody>
    </table>
</div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>