<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tablePage.css">
</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">模板名称</th>
                <th scope="col">创建时间</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for contract_t in contracts_t %}
            <tr>
                <th scope="row" class="docID" id="{{ contract_t.id }}">{{ contract_t.id }}</th>
                <td>{{ contract_t.name }}</td>
                <td>{{ contract_t.create_time }}</td>
                <td><button class="btn btn-success btn-check" >审核</button> </td>
            </tr>
            {% empty %}
            <tr><th>No Documents</th></tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h1 class="table-head1">已审核合同模板：</h1>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">模板名称</th>
                <th scope="col">创建时间</th>
                <th scope="col">状态</th>
            </tr>
            </thead>
            <tbody>
            {% for contract_t in contracts_t_p %}
            <tr>
                <th scope="row" class="docID" id="{{ contract_t.id }}">{{ contract_t.id }}</th>
                <td>{{ contract_t.name }}</td>
                <td>{{ contract_t.create_time }}</td>
                {% ifequal contract_t.active True %}
                    {% ifequal contract_t.shenhe2 False %}
                    <td> 等待二级审核 </td>
                    {% else %}
                    <td> 审核通过 </td>
                    {% endifequal %}
                {% else %}
                <td> 审核未通过 </td>
                {% endifequal %}
            </tr>
            {% empty %}
            <tr><th>No Documents</th></tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/Submit.js"></script>
</html>