<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tablePage.css">
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">文档类型</th>
            <th scope="col">名称</th>
            <th scope="col">创建时间</th>
            <th scope="col">到期时间</th>
            <th scope="col">状态</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
        <tr>
            <th scope="row" class="docID" id="{{doc.id}}">{{ doc.id }}</th>
            {% ifequal doc.type 'contract'%}
            <td>合同</td>
            {% endifequal %}
            {% ifequal doc.type 'contract_t'%}
            <td>合同模板</td>
            {% endifequal %}
            {% ifequal doc.type 'letter'%}
            <td>律师函</td>
            {% endifequal %}
            {% ifequal doc.type 'trans'%}
            <td>翻译申请</td>
            {% endifequal %}
            {% ifequal doc.type 'power'%}
            <td>授权申请</td>
            {% endifequal %}
            <td>{{ doc.name }}</td>
            <td>{{ doc.create_time }}</td>
            <td>{{ doc.till_time }}</td>
            {% ifequal doc.active True %}
                {% ifequal doc.shenhe1 True %}
                    {% ifequal doc.shenhe2 True %}
                    <td> 二级审核通过 </td>
                    {% else %}
                    <td> 一级审核通过 </td>
                    {% endifequal %}
                {% else %}
                <td> 等待审核 </td>
                {% endifequal %}
            {% else %}
            <td> 审核未通过 </td>
            {% endifequal %}
        </tr>
        {% empty %}
        <tr><th>No Documents</th></tr>
        {% endfor%}
        </tbody>
    </table>
</div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/js/Submit.js"></script>
</html>