<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/worker.css">
</head>
<body>
<header>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">合同管理系统</a>
        <span class="nav-link" href="#">Welcome Worker: {{ user.email }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location.href = 'logout'">Sign out</button>
        </div>
    </div>
</header>
<article>
    <div id="questDiv">
        <div id="info" onclick="listDoc()">
            <h1>查看文档状态</h1>
        </div>
        <div id="createContract" onclick="createDoc('contract')">
            <h1>起草新合同</h1>
        </div>
        <div id="createContract_t" onclick="createDoc('contract_t')">
            <h1>起草合同模板</h1>
        </div>
        <div id="createLetter" onclick="createDoc('letter')">
            <h1>起草律师函</h1>
        </div>
        <div id="createTrans" onclick="createDoc('trans')">
            <h1>起草翻译申请</h1>
        </div>
        <div id="createPower" onclick="createDoc('power')">
            <h1>起草授权申请</h1>
        </div>
    </div>
    <div id="editFrame">
        <h1 id="tableHead"></h1>
        <iframe id="article" src="">
        </iframe>
    </div>
</article>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="widget">
                    <h5 class="widgetheading">合同管理系统</h5>
                    <h5 class="widgetheading">By：Group 7</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="widget">
                    <h5 class="widgetheading">Members</h5>
                    <p>时博文</p>
                    <p>顾堃略</p>
                    <p>谢玉婷</p>
                    <p>雍卓睿</p>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" style="background:rgba(34,43,58,1);height: 50px;text-align: center;">
    </div>
</footer>
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function createDoc(text) {
        $('#editFrame').css("display", "block");
        switch (text){
            case "contract":
                $("#tableHead").html("起草合同");
                $("#article").attr("src", "create/1");
                break;
            case "contract_t":
                $("#tableHead").html("起草合同模板");
                $("#article").attr("src", "create/2");
                break;
            case "letter":
                $("#tableHead").html("起草律师函");
                $("#article").attr("src", "create/3");
                break;
            case "trans":
                $("#tableHead").html("起草翻译申请：");
                $("#article").attr("src", "create/4");
                break;
            case "power":
                $("#tableHead").html("起草授权申请：");
                $("#article").attr("src", "create/5");
                break;
            default:
                console.log(text);
        }
        var t_a = $('#editFrame').offset();
        $("html,body").animate({scrollTop:t_a.top - "30" + "px"}, 300);
    }
    function listDoc() {
        $('#editFrame').css("display", "block");
        $("#tableHead").html("文档列表");
        $("#article").attr("src", "list");

    }
</script>
</html>